.card {
    background-color: var(--color-white);
    border: 0.1rem solid var(--color-tertiary);
    border-radius: var(--radius);
    box-shadow: 0 0 0.5rem 0.05rem var(--color-lighter);
    overflow: hidden;
}