.inbox {
    max-width: 80rem;
    padding: 2rem 0;
    margin: 8rem auto;

    &__messages {
        padding: 1rem 3rem;
    }
    
    &__message {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        padding: 2rem 0;

        &:not(:last-child) {
            border-bottom: 0.1rem solid var(--color-lighter);
        }
    }

    &__author {
        flex-basis: 20%;
    }

    &__subject {
        flex-basis: 50%;
    }

    &__date {
        flex-basis: 30%;
    }
}

@media screen and (max-width: 800px) {
    .inbox {
        &__message {
            flex-direction: column;
        }
    }
}