.profile-card2 {
    padding: 3rem;

    &__image {
        height: 18rem;
        width: 18rem;
        border: 0.2rem solid var(--color-primary);
        border-radius: 50%;
        margin: 0 auto 2rem auto;
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    &__social {
        transition: var(--transition);

        &:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 500px) {
    .profile-card2 {
        &__image-wrapper {
            height: 15rem;
            width: 15rem;
        }
    }
}