.project-card2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;

    &__image {
        height: 10rem;
        width: 12rem;
        border-radius: var(--radius);
        overflow: hidden;
    }
    
    &__body {
        display: flex;
        justify-content: space-between;
        flex-basis: 90%;
        gap: 2rem;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 670px) {
    .project-card2 {
        align-items: flex-start;

        &__body {
            flex-direction: column;
            align-items: flex-start;
        }

        &__actions {
            flex-direction: row;
        }
    }
}

@media screen and (max-width: 600px) {
    .project-card2 {
        flex-direction: column;
    }
}