.skill-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .skill-card {
        flex-direction: column;
        align-items: flex-start;

        &__actions {
            flex-direction: row;
        }
    }
}