.bg-primary {
    background-color: var(--color-primary);
}

.bg-primary-dark {
    background-color: var(--color-primary-dark);
}

.bg-primary-light {
    background-color: var(--color-primary-light);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-tertiary {
    background-color: var(--color-tertiary);
}

.bg-dark {
    background-color: var(--color-dark);
}

.bg-light {
    background-color: var(--color-light);
}

.bg-lighter {
    background-color: var(--color-lighter);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-danger {
    background-color: var(--color-danger);
}

.bg-danger-light {
    background-color: var(--color-danger-light);
}

.bg-success {
    background-color: var(--color-success);
}

.bg-success-light {
    background-color: var(--color-success-light);
}

.bg-info {
    background-color: var(--color-info);
}

.bg-info-light {
    background-color: var(--color-info-light);
}

.mb-xxsm {
    margin-bottom: 0.5rem;
}

.mb-xsm {
    margin-bottom: 0.7rem;
}

.mb-sm {
    margin-bottom: 1rem;
}

.mb-md {
    margin-bottom: 1.5rem;
}

.mb-lg {
    margin-bottom: 2rem;
}

.mb-xlg {
    margin-bottom: 3rem;
}

.mb-xxlg {
    margin-bottom: 4rem;
}

.text-primary {
    color: var(--color-primary);
}

.text-primary-dark {
    color: var(--color-primary-dark);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-dark {
    color: var(--color-dark);
}

.text-light {
    color: var(--color-light);
}

.text-white {
    color: var(--color-white);
}

.text-danger {
    color: var(--color-danger);
}

.text-success {
    color: var(--color-success);
}

.text-info {
    color: var(--color-info);
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.text-underline {
    text-decoration: underline;
}